@media screen and (min-device-width: 400px){

body{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.header{
    padding-left: 20px;
    font-size: 25px;
    color: #479b3c;
    font-weight: bold;
    display: inline-block;
    width: 700px;
}

.header__logo{
    color: #d69550;
    font-size: 60px;
    text-shadow: black 0 0 2px;
}

.footer{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    background-image: url('./img/grass.jpg');
    background-size: 100% 350px;
}

.content{
    display: block;
    width: 500px;
    margin-left: 20px;
}

.content__item{
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: #479b3c;
}

.content__item:hover{
    color: green;
}

.contacts{
/*    display: inline-block;*/
    position: fixed;
    right: 50px;
    top: 70px;
    vertical-align: top;
    font-size: 35px;
/*    margin-top: 70px;
    margin-right: 50px;*/
}

.contacts__logo{
    text-align: left;
    color: #d69550;
    font-weight: bolder;
    text-shadow: black 0 0 1px;
}

.contacts__item{
    color: #479b3c;
    font-size: 30px;
}
}
