body{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.header{
    padding-left: 20px;
    font-size: 25px;
    color: #479b3c;
    font-weight: bold;
    display: inline-block;
}

.header h1{
    color: #d69550;
    font-size: 60px;
    text-shadow: black 0 0 2px;
}

.header h1 span{
    display: none;
}

.footer{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    background-image: url('./img/grass.jpg');
    background-size: 100% 350px;
}

li{
    cursor: pointer;
}

li:hover{
    color: green;
}

.contacts{
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    margin-top: 70px;
    margin-right: 50px;
    float:  right;
}

th{
    text-align: left;
    color: #d69550;
    font-weight: bolder;
    text-shadow: black 0 0 1px;
}

a{
    color: #479b3c;
    font-size: 30px;
}

@media screen and (min-device-width: 1600px) {
    .contacts {float: center;}
}
