@media screen and (max-device-width: 360px) {

body{
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.header{
    display: block;
    text-align: center;
    margin-top: 110px;
    width: 100%;
    padding-left: 0;
}

.header__logo{
    color: #d69550;
    font-size: 90px;
    text-shadow: black 0 0 2px;
}

.footer{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    background-image: url('./img/grass.jpg');
    background-size: 100% 350px;
}

.content{
    display: block;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    color: #479b3c;
    text-align: center;
    margin-top: 150px;
    margin-left: 0;
}

.content__item{
    cursor: pointer;
    list-style-type: none;
}

.content__item:hover{
    color: green;
}

.contacts{
    display: block;
    width: 100%;
    font-size: 55px;
    float: none;
    margin-top: 150px;
}

.contacts__table{
    width: 100%;
    text-align: center;
}

.contacts__logo{
    color: #d69550;
    text-align: center;
    font-weight: bolder;
    text-shadow: black 0 0 1px;
}

.contacts__item{
    color: #479b3c;
    font-size: 50px;
    font-weight: bold;
}

}
